.futureCast {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;

  & h3 {
    font-size: 2rem;
    text-align: center;
    width: 100%;
  }
}

.hoursCast {
  display: flex;
  gap: 15px;
}
.futureTop,
.futureMid,
.futureBot {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.hourly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;

  width: 100px;
  height: 300px;

  border-radius: 20px;
  border: 2px solid black;

  padding: 10px 5px;

  & p:nth-child(1) {
    font-size: 2rem;
    font-weight: 500;
  }
  /* & img {
  } */
  & p:nth-child(3) {
    font-size: 1.5rem;
    font-weight: 500;
  }
  & p:nth-child(4) {
    font-size: 2rem;
    font-weight: 500;
  }
  & p:nth-child(5) {
    font-size: 2rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 900px) {
  .hoursCast {
    flex-direction: column;
    /* overflow-x: scroll; */
  }
}
