/* 
@font-face {
  font-family: 'Rye';
  src: url(./Rye-Regular.ttf);
} */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rye&display=swap");
html {
  font-size: 62.5%;
  font-family: "Montserrat";
  user-select: none;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;

  /* font-family: 'Rye'; */
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
/* ---------------------------------------------------------- */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 50px;
  margin-bottom: 50px;

  & h2 {
    font-size: 4rem;
    text-align: center;
  }

  & .inputBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-size: 2rem;

    height: 50px;

    & input {
      height: 30px;
      text-indent: 5px;
    }

    & button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      padding: 0px 10px;

      cursor: pointer;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.todayCast {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(/ressources/images/dust-day.svg);
  background-size: contain;
  background-repeat: round;
  /* background-color: rebeccapurple; */
  /* background-blend-mode: darken; */
}

.todayLeft {
  /* background-color: rebeccapurple; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.city {
  font-size: 3rem;
  font-weight: 800;
}
.todayDateHoure {
  font-size: 2rem;
}

.todayState {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;

  width: 100%;
  margin-top: 140px;
  /* background-color: red; */

  /* & img {
    height: 150px;
  } */

  & p {
    font-size: 2rem;
    font-style: italic;
  }
}

.todayTemperature {
  font-size: 2rem;
  font-weight: 800;

  /* width: 100px; */
}

.todayRight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 10px;

  height: 100%;
  width: 110px;
  /* background-color: aqua; */
}

.todayFeel p {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-size: 1rem;
  text-align: center;
  color: grey;
  font-weight: 500;
}

.todayRain {
  font-size: 2rem;
}

.todayWind {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & p {
    text-align: center;
  }
}
.todayArrow {
  font-size: 4rem;
  text-align: center;
}
.windPower {
  font-size: 2rem;
  font-weight: 500;
}
