.futureCast {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;

  & h3 {
    font-size: 2rem;
    text-align: center;
    width: 100%;
  }
}

.hoursCast {
  display: flex;
  gap: 15px;
}
.futureTop,
.futureMid,
.futureBot {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.hourly {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 11px; */

  width: 100px;
  /* height: 250px; */

  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.247);

  padding: 0px 5px;

  & p:nth-child(1) {
    font-size: 2rem;
    font-weight: 500;
  }
  & div {
    background-image: url(/ressources/images/rain.svg);

    width: 80px;
    height: 80px;
  }
  & p:nth-child(3) {
    font-size: 1.5rem;
    font-weight: 500;

    text-align: center;

    height: 70px;
    /* background-color: aqua; */
  }
  & p:nth-child(4) {
    font-size: 2rem;
    font-weight: 500;
  }
  & p:nth-child(5) {
    font-size: 2rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 900px) {
  .hoursCast {
    flex-direction: column;
    /* overflow-x: scroll; */
  }
}
